<h1>Usuario <small>Prestamos</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
                routerLink="/prestamos">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )"
            #f="ngForm">
            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text"
                        class="form-control"
                        placeholder="Firebase ID"
                        [(ngModel)]="usuario.id"
                        name="id"
                        disabled="disabled">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text"
                        class="form-control"
                        placeholder="Nombre del usuario"
                        [(ngModel)]="usuario.nombre"
                        name="nombre"
                        required>
            </div>

            <div class="form-group">
                <label>Correo</label>
                <input type="email"
                        class="form-control"
                        placeholder="e-mail del usuario"
                        [(ngModel)]="usuario.correo"
                        name="correo"
                        required>
            </div>


            <div class="form-group">
                <label >Cédula</label>
                <input type="text" 
                       class="form-control"
                        placeholder="Cédula del usuario"
                        placeholder="Cédula del usuario"
                        [(ngModel)]="usuario.cedula"
                        name="cedula"
                        required>
            </div>

            <div class="form-group">
                <label>Valor solicitado</label>
                <input type="number"
                        class="form-control"
                        placeholder="Valor solicitado"
                        [(ngModel)]="usuario.valorSolicitado"
                        name="valor"
                        required>
                        <small *ngIf="!valorAceptado" class="form-text text-muted">El valor solicitado debe ser entre $10.000 y $100.000</small>
                        <small *ngIf="valorExcedebase" class="form-text text-muted">El valor solicitado excede del valor total de base del banco $ </small><h4 *ngIf="valorExcedebase">{{capitalBasenumber}}</h4>
            </div>
            <!--
            <div class="form-group">
                <label>Estado de credito:</label>
                <br>
                <button *ngIf="usuario.estadoCredito"
                    class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-o"></i>
                    Aprobado
                </button>
                <button  *ngIf="!usuario.estadoCredito" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-meh-o"></i>
                    Rechazado
                </button>
            </div>
            -->

            <!--
            <div class="form-group">
                <label>Pagó credito:</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-o"></i>
                    Si
                </button>
                <button class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-meh-o"></i>
                    No
                </button>
            </div>
            -->
            <hr>
            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>


